.card-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:35px;
    justify-content: center; /* Center the grid items horizontally */
    align-content: center; 
    
 
}

.button-effect :hover{
    
}